


.menu{
  margin:10px;
  background-color:rgb(255, 209, 73) ;
  width:1300px;
}

.menu_ul{
  list-style: none;
  float: left;
  margin:2px 0 5px 0;

}

.menu_ul li{
  display: inline-block;
  font-size: 25px;
  padding: 0 5px;
  font-family: "Roboto" , "sans-serif";
}

.menu_ul li :hover{
  border: 2px solid black;
}

.menu_ul li a{
  text-decoration: none;
  padding: 0 80px;
}

.li_top a{
  color: #FF4F02;
}

.QA{
  display: none;
}

.btn-sns{
  font-size: 25px;
  float: right;

}
.insta_btn {
  color: #FFCC33;
  text-decoration: none;
}
.twitter_btn{
  color: #FFCC33;
  text-decoration: none;
}

.wrapper-top {
  margin:50px 0 0 0 ;
  height: 450px;
  width:1250px;
  float: left;
  background-image:url(picture/06.JPG);
  background-size:cover;
    font-family: cursive;
}

.container {
  background-color:rgb(187, 55, 71,0.3);
  font-size: 26px;
  font-weight: 900;
  margin: 200px 5px 0px 650px ;
  color:rgb(255, 255, 255);
  position:absolute;
  height: 200px;
  width: 800px;

}

 .about{
  background-image: url(picture/10.jpg);
  background-size: cover;
  text-align: center;
  float: left;
  margin:50px 0;
  height: 500px;
  width:1250px;

}

.about h1{
  font-family: sans-serif;
  padding: 10px 0 0 0;
  color:#FF8856;
}

.about p{
  width: 1000px;
  background-color: rgb(57, 1, 49,0.5);
  color:rgb(255, 255, 255);
  font-weight: bolder;
  font-family: monospace;
  font-size: 18px;
  margin: 0 120px;
  padding: 0 100px;
  text-align: left;
}

.about_img{
  margin: 10px 30px 30px 200px;
  text-align: left;
  float: left;
}

.hobby{
  text-align: center;
  float: left;
  background-image:url(picture/01.jpg);
  background-size: cover;
  margin:50px 0;
  height: 500px;
  width:1250px;
}

.hobby h1{
  font-family: sans-serif;
  margin: 10px 500px;
  padding: 10px;
  color:rgb(1, 135, 73);
  background-color: rgb(255, 255, 255,0.5);
}

.video{
  text-align: left;
  margin: 30px 100px;
  float:right;
}

.hobby p{
  background-color:rgb(52, 78, 117,0.6);
  font-family: monospace;
  color: white;
  font-size: 15px;
  margin: 10px 620px 40px 40px;
  padding:20px;
  text-align: left;
}

.instagram{
  float: left;
}

.counter{
  float: right;
  margin: 100px 0 0 0;
}
